<div class="container" align="center" ng-include="'app/partials/app-menu.html'"></div>

<table class="table table-hover table table-responsive">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nome</th>
			<th scope="col">Email</th>
			<th scope="col">Telefone</th>
			<th scope="col">Sexo</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="usuario in vm.usuarios">

			<td>{{usuario.id}}</td>
			<td>{{usuario.nome}}</td>
			<td>{{usuario.email}}</td>
			<td>{{usuario.telefone}}</td>
			<td>{{usuario.sexo}}</td>
			<td id="td">
				<button class="btn btn-primary btn-sm" ng-click="vm.editarUsuario(usuario.id)">Editar</button>
			</td>
			<td id="td">
				<button class="btn btn-danger btn-sm" ng-click="vm.excluirUsuario(usuario.id)">Excluir</button>
			</td>
		</tr>

	</tbody>
</table>